*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
body h2{
    font-family: 'Prata', sans-serif;
}
main{
    background: white;
}
html{
    scroll-behavior: smooth;
}
/* .reveal{
    position: relative;
    transform: translateX(-50%);
    opacity: 0.4;
    transition: 0.5s all ease;
}
.reveal.active{
    transform: translateX(0%);
    opacity: 1;
}
.reveal.revealtext{
    position: relative;
    transform: translateX(0%);
    opacity: 0.2;
    transition: 0.5s all ease;
}
.reveal.active.revealtext{
    transform: translateX(0%);
    opacity: 1;
} */
:root {
    --swiper-navigation-color: #eee;
    --swiper-pagination-color: #000;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --scroll: 0
}
swiper-container{
    width: 100%;
    height: 100%;
}
.container{
    position: relative;
    width:100%;
    max-width:100vw;
    margin: auto;
}
.btn1, .h2tt{
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Color-Brand-main, #FFBC63);
    color: #000;

    /* Text/Regular/Bold */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
}
.bg-img-p{
    position: absolute;
    z-index: 0;
    width: 100%;
    max-width: 100vw;
    max-height: 540px;
    object-fit: cover;
}
.poster img{
    width: 315px;
}
.poster{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 837px;
    color: #fff;
    margin: auto;
    font-size: 48px;
    font-weight: 700;
    padding: 157px 0 70px;
}
.posterinfos {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 500px;
}
.posterinfos h3{
    font-family: 'Prata';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
}
.callnow a{
    display: flex;
    padding: 12px 0;
    justify-content: center;
    gap: 8px;
    color: #000;
    border-radius: 8px;
    background: var(--Color-Brand-secondary, #FFF);
    align-items: center;
    letter-spacing: 0;
    width: 169px;
    text-align: left;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}
.callnow:hover{
  background: Linear;
}
@media screen and (max-width:990px) {
    .bg-img-p{
        height: 720px;
        max-height: 900px;
    }
    .poster{
        flex-direction: column;
    }
    .posterinfos {
        max-width: 310px;
    }
    .posterinfos h3{
        font-size: 24px;
    }
    .posterinfos{
        text-align: center;
    }
    .poster .callnow{
        margin: auto;
    }
} 
.aboutcontainer{
    padding: 120px 0;
}
.aboutcontainer h2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.vetor{
    display: block;
    position: absolute;
    bottom: -15%;
    right: 5%;
    z-index: 9;
}
.about{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    align-items: center;
    padding: 0 50px;
    gap: 20px;
}
.aboutimg{
    width: 100%;
    border-radius: 24px;
    max-width: 858px;
    opacity: 1;
    z-index: 0;
}
.abouttitle{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 372px;
}
.abouttitle h2{
    font-size: 40px;
    max-width: 362px;
    font-weight: 400;
    line-height: 120%;
}
.about p{
    max-width:372px;
    font-size: 12px;
    font-weight: 400;
    line-height: 190%;
}
/* .overlay {
    position: absolute;
    top: 0;
    right: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    height: 100%;
    border-radius: 24px;
    width: 858px;
    z-index: 9;
} */
@media screen and (max-width:1190px) {
    .about{
        padding: 0px 10px;
        flex-direction: column;
    }
    .aboutimg{
        padding: 0px 10px;
        margin: auto;
    }
    .abouttitle{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        text-align: center;
    }
    .abouttitle .btn1{
        margin: auto;
    }
    .abouttitle h2{
        font-size: 24px;
    }
    .about p{
        max-width:372px;
        font-size: 12px;
    }
    .vetor{
        max-width: 140px;
        right: 7%;
    }
}
.servicescontainer{
    padding-bottom: 110px;
}
.servicestitle{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 70px 0 50px 0;
    color: #fff;
    text-align: center
}
.servicestitle img{
    display: block;
    margin: auto;
}
.servicestitle small{
  font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 80%;
}
.servicestitle h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
}
.servicestitle p{
    display: block;
    max-width: 410px;
    margin: auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}
.mySwiper2 {
  width: 100%;
  max-width: 100vw;
  cursor: grab;
  margin: 0 auto;
}
.swiper2 {
    position: relative;
    display: flex;
    gap: 16px;
    width: 100%;
    max-width:260px;
    height: 100%;
    max-height: 444px;
    margin: auto;
    background-color: #fff;
    border-radius: 24px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 8px;
}
.swiper2:hover {
    box-shadow: 8px 8px 16px rgba(36, 36, 36, 0.5); 
    transition: 0.2s ease-in;
}
.sercardinfo h3{
    text-align: center;
    font-family: 'Prata';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%; 
}
.swiper2 img {
  width: 240px !important;
  height: 280px;
  margin: auto;
  object-fit: cover !important;
  top: 0;
}
.servicescontainer h6{
    color: #fff;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 80%;
    margin-top: 100px;
}
.servicesbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 240px;
  list-style: none;
  color: #000;
  border-radius: 100px;
  padding: 16px 0;
  background: linear-gradient(90deg, #8E8E8E 0%, #FDFDFD 100%);
  cursor: pointer;
  border: 1px solid #0B2749;
  margin: auto;  
}
.servicesbutton a{
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
@media screen and (max-width:990px) {
    .servicestitle{
        padding: 70px 10px 50px 10px;
    }
    .servicestitle img{
        max-width: 200px;
    }
    .servicestitle h2{
        font-size: 36px;
        max-width: 280px;
        margin: auto;
    }
    .servicestitle p{
        max-width: 290px;
    }
    .listareas{
        gap: 36px;
        padding-left: 0px;
    }
}
.preferencecontainer{    
    background: url(../assets/prefbg.png) no-repeat;
    background-position: 100%;
    background-size: cover;
    color: #fff;
    padding: 170px 0 100px;
}
.logopref{
    width: 100%;
    max-width: 350px;
    margin: auto;
}
/*.videoimg {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 960px;
}
.videdobg::after {
    content: '';
    inset: 0;
    background: #0B2749 100%;
    background-repeat: no-repeat;
    opacity: 60%;
    background-size: 100%;
    background-position: bottom;
    position: absolute;
} */
.preference{    
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
}
.preferencetitle{
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
}
.preferencetitle h2{
    max-width: 812px;
    font-size: 56px;
    font-weight: 400;
    line-height: 120%;
}
.preferencetitle p{
    max-width: 282px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%; 
}
.preferenceimgtext{
    display: flex;
    /* padding: 1400 - 1080 (preference grid width) / 2 (padding de cada lado) */
    padding: 0 160px;
    justify-content: space-between;
    align-items: center;
}
.abouttext{
    display: flex;
    flex-direction: column;
    max-width: 404px;
}
.abouttext p{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 190%;
}
.abouttext .h2tt{
    background-color: transparent;
    color: #FFBC63;
    border: 1px solid #FFBC63;
    margin: 100px 0 32px;
}
.preferencegrid{
    display: flex;
    margin: auto;
    padding: 50px 0 0;
    gap: 24px;
}
/* -------------------------------- 

💡 How to create gradient borders in CSS
🔗 https://codyhouse.co/nuggets/css-gradient-borders

-------------------------------- */
.preferencecard{
    display: flex;
    width: 252px;
    height: 232px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 32px;
    justify-content: space-between;    
    background: linear-gradient(#000, #000) padding-box,
    linear-gradient(130deg, #000, #FFBC63) border-box;
  border-radius: 24px;
  border: 2px solid transparent;
}
.preferencecard svg{
    stroke: #FFBC63;
    fill: #EEEEEE
}
/* .preferencecard:hover{
    background: #FFBC63;
    color: #265083;
}
.preferencecard:hover svg{
    stroke: #265083;
    fill: #265083
}
.preferencecard:hover svg path{
    stroke: #265083;
    fill: #265083
} */
.preferencecard h3{
    font-family: 'Urbanist';
    font-size: 20.963px;
    font-weight: 400;
    line-height: 150%;
}
@media screen and (max-width:1090px) {
    .preferencecontainer{   
        padding: 100px 10px;
        background-image: url(../assets/prefbgm.png);
        background-position: top;
        background-size: cover;
    }
    .preferencetitle{
        flex-direction: column;
        gap: 30px;
        padding: 50px 0;
    }
    .preferencetitle h2{
        width: 340px;
        font-size: 40px;
    }
    .preferenceimgtext{
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .preferenceimgtext img{display: none;}
    .abouttext .h2tt{
        margin: 50px 0 32px;
    }
    .preferencegrid{
        flex-wrap: wrap;
    }
    .preferencecard{
        margin: auto;
    }
}
.gallerycontainer{
    display: flex;
}
.gallerytitle{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 50vw;
    padding: 0 50px;
    margin: auto;
}
.gallerytitle h2{
    font-family: 'Prata';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%; 
    max-width: 556px;
}
.gallerytitle .h2tt{
    width: 220px;
}
.gallerytitle p{
    max-width: 482px;
    color: var(--Text-primary, #000);
    font-size: 12px;
    font-weight: 400;
    line-height: 190%; 
}
.gallerygrid{
    display: flex;
    width: 100%;
    max-width: 50vw;
    flex-wrap: wrap;
    flex: 50%;
    gap: 0;
    align-items: end;    
}
.gallerygrid img{
    width: 100%;
    max-width: 25vw;
}
.imgvwbg{
    width: 100%;
    object-fit: cover;
    max-height: 530px;
}
.reviewscontainer{
    padding: 120px 0;
}
.reviewstitle{
    display: flex;
    text-align: center;
}
.reviewstitle .h2tt{
    background-color: transparent;
    border: 1px solid #000;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
    margin: auto;
}
.ig-embed{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    color: #000;
}
.ig-embed h2{
    display: flex;
    margin-bottom: 32px;
    font-family: 'Prata';
    font-size: 40px;
    font-weight: 400;
    margin: auto;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.ig-embed h2 svg{
    max-width: 50px;
}
.ig-embed iframe{
    width:900px; 
    height:890px;
}
.gallerygrid-m{display: none;}
@media screen and (max-width:980px) {
    .gallerycontainer{
        flex-direction: column;
    }
    .gallerytitle{
        text-align: center;
        max-width: 100vw;
        padding: 50px 10px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .gallerytitle h2{
        font-size: 32px;
        max-width: 356px;
    }
    .gallerytitle .h2tt{
        width: 220px;
    }
    .gallerytitle p{
        max-width:362px;
    }
    .gallerygrid-w{display: none;}
    .gallerygrid-m{
        display: flex;
        width: 100%;
        max-width: 100vw;
        flex-wrap: wrap;
        flex: 50%;
        gap: 0;
        align-items: end;
    }
    .gallerygrid img{
        max-width: 50vw;
    }
    .imgvwbg{
        height: 430px;
    }
    .reviewstitle .h2tt{
        font-size: 17px;
        padding: 12px 20px;
    }
    .ig-embed iframe{
        width:500px; 
        height:500px;
    }    
}
@media screen and (max-width:580px) {
    .ig-embed iframe{
        width:100%;
        max-width: 400px; 
        height: 450px;
    }    
}
.mapscontainer{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    background-color: #FFBC63;
}
.maptittle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 20px 0;
    font-family: 'Urbanist';
}
.maptittle h3{
    font-weight: 700;
}
.maptittle p{
    font-weight: 400;
}
.mapsfooter{
    display: flex;
    width: 100%;
    max-width: 100vw;
    margin: auto;
    justify-content: space-between;
}
.map{
    position: relative;
    width: 100%;
    max-width: 50vw;
    height: 390px;
}
.map img{
    width: 100%;
    max-width: 50vw;
    object-fit: cover;
    height: 390px;
    z-index: 0;
}
.mapinfos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
    color: #FFF;
    max-width: 500px;
}
.mapinfos button {
    border: none;
}
.mapinfos button a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mapinfos h2{    
    font-family: 'Prata';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
}
.mapinfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.mapinfo h6{    
    font-family: 'Prata';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
}
.listareas{
    color: #000;
    display: flex;
    gap: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 190%;
}
.listareas ul li{
    list-style: none;
}
.listareas ul li:before {
    content:"·";
    font-size:20px;
    margin-right: 10px;
}
@media screen and (max-width:1300px) {
    .mapinfos h2{    
        font-size: 32px;
    }
}
@media screen and (max-width:990px) {
    .mapscontainer{
        padding-top: 50px;
    }
    .maptittle{
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 390px;
        left: 50%;
        transform: translateX(-50%);
    }
    .mapsfooter{
        max-width: 100vw;
    }
    .map{
        position: absolute;
        max-width: 100vw;
        bottom: 0;
    }
    .map img{
        max-width: 100vw;
        height: 460px;
    }
    .mapinfos{
        width: 290px;
    }
    .mapinfos button {
        border: none;
    }
    .mapinfos button a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .mapinfo{
        max-width: 100vw;
        margin: auto;
        padding: 0 10px;
        padding-bottom: 450px;
    }
    .mapinfo h6{    
        font-family: 'Prata';
        font-size: 40px;
        font-weight: 400;
        line-height: 120%;
    }
    .listareas{
        color: #000;
        display: flex;
        gap: 6px;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }
    .listareas ul li{
        display: flex;
        list-style: none;
        white-space: nowrap;
    }
    .listareas ul li:before {
        content:"·";
        font-size:20px;
        margin-right: 5px;
    }
}
/* .bodypop .navbar{background-color: #000;} */
.bodypop .servicescontainer{padding-bottom: 0;}
.popuptest{
    position: relative;
    width: 100%;
    max-width: 9999px;
    margin: auto;    
    padding: 120px 0 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
}
.popupgrid{
    display: flex;
}
.content{
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 30px;
    justify-content: space-between;
}
.contentinfos{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.popupimg{
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    border-radius: 24px;
}
.content h2{
    font-size: 56px;
    font-weight: 400;
    line-height: 120%;
}
.callpopup a{
    display: flex;
    gap: 10px;
}
.content p{
    margin-top: 100px;
    max-width: 370px;
    font-size: 12px;
    font-weight: 400;
    line-height: 190%;
}
@media screen and (max-width:1180px) {
    .content{
        flex-direction: column;
        max-width: 100vw;
        margin: auto;
        padding: 0 10px;
    }
    .contentinfos{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .content h2{
        font-size: 48px;
    }
    .content p{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.servicesbutton:hover{
    background: #FFF;
}
.btnservice:hover{
    background: linear-gradient(90deg, #8E8E8E 0%, #FDFDFD 100%);
}
.swiper2:hover {
    box-shadow: 10px 10px 16px rgba(161, 161, 161, 0.5); 
  transition: 0.1s ease-in;
} 